 <!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h4>Programming Languages</h4>
                    <ul>
                        <li>Proficient with Ruby, PHP, Java</li>
                        <li>Familiar with C, C++, C#/.NET, Python, JavaScript, HTML, CSS, MySQL</li>
                    </ul>

                    <h4>Frameworks</h4>
                    <ul>
                        <li>Large projects built with Ruby on Rails and Laravel</li>
                        <li>Familiar with Django</li>
                    </ul>

                    <h4>Other Technologies</h4>
                    <ul>
                        <li>Extensive experience with Git and minor use with SVN</li>
                        <li>Android development experience with Android Studio</li>
                        <li>Wordpress and Joomla CMS platform experience</li>
                        <li>Regularly use Windows, Mac, and Linux operating systems and very comfortable with command line use</li>
                        <li>VSphere and VirtualBox experience with configuring and deploying virtual machines</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>