<!-- Work experience Section -->
<section class="success" id="work-experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work Experience</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">IT/Web Developer</h4>
                                <div class="row">
                                    <div class="col-xs-6 text-left">
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-briefcase"></i> Birch Hills Academy</small></p>
                                    </div>

                                    <div class="col-xs-6 text-right">
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> July 2016 - Sep 2016</small></p>

                                    </div>
                                </div>
                            </div>
                            <div class="timeline-body text-left">
                                <ul>
                                    <li>Provided general IT and network support for school and staff</li>

                                    <li>Redesigned and maintained existing Wordpress website to showcase a development project</li>

                                    <li>Created two new websites with Joomla CMS platform that will replace the current school website and after school care/summer camp website</li>

                                    <li>Modified Joomla templates with custom CSS tailored to clients’ needs to create a unique website design</li>

                                    <li>Modified Joomla extensions and plugins in PHP to expand functionality for specific systems such as applying for school or a summer camp registration/booking system</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Software Development Engineer Coop</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Dell Canada</small></p>
                            </div>
                            <div class="timeline-body text-left">
                                <ul>
                                    <li>Worked directly with Quality Control Engineers to rigorously test software product updates and submit bug reports</li>

                                    <li>Created, deployed, and maintained personal virtualized servers through VMware VSphere client</li>

                                    <li> Developed custom PowerShell Cmdlets to automate virtual server setups</li>

                                    <li> Developed custom automation tools in C# and .Net to increase testing efficiency and reliability</li>

                                    <li> Used Microsoft Test Manager to deploy the product to custom environments and run automated tests to verify new software builds and increase the range of tests to run</li>

                                    <li>  Gained in-depth knowledge of Visual Studio and standard software development practices to efficiently write code, debug, submit bug reports, track and update assigned tasks, submit code reviews, and contribute to the development repository</li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Service Desk Application Specialist Coop</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> ABM Integrated Solutions</small></p>
                            </div>
                            <div class="timeline-body text-left">
                                <ul>
                                    <li>Provided user-friendly and professional end-user support for a variety of technical applications and programs</li>

                                    <li>Efficiently diagnosed and resolved customer issues</li>

                                    <li>Accurately maintained end-user documentation and incident tickets</li>

                                    <li>Configured hardware and customized new and existing work stations for specific customer needs</li>

                                    <li>Managed office support email, corresponding with clients to resolve issues or answer questions</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Computers Specialist</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Bestbuy Canada</small></p>
                            </div>
                            <div class="timeline-body text-left">
                                <ul>
                                    <li>Worked directly with customers to identify their needs and find them the proper solution they are looking for. This may include demonstrating new technology to customers, helping to fix a current problem, or offer advice on various products.</li>

                                    <li>My responsibilities also included maintaining the department, which entailed restocking the isles, performing price audits to insure correct prices, performing stock checks on items, placing new products out on display and general cleaning.</li>

                                    <li>As a Multimedia Entertainment Specialist, the computer department absorbed three others to form the "Multimedia Entertainment" department which included Computers and Networking, Digital Imaging, Car Audio, and Digital Media</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>

