<!-- Work experience Section -->
<section class="success" id="work-experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work Experience</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="timeline">
                    {% for job in site.data.global.jobs %}
                    <li class="{% cycle '', 'timeline-inverted' %}">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{job.title}}</h4>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <p>
                                            <small class="text-muted"><i class="glyphicon glyphicon-briefcase"></i>
                                                {{job.company}}
                                            </small>
                                        </p>
                                    </div>

                                    <div class="col-lg-6 text-right">
                                        <p>
                                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                {{job.time}}
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-body text-left">
                                <ul>
                                    {% for line in job.description %}
                                    <li>{{line.line}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</section>

